#contaner {
	width:606px;
	height:606px;
	border:1px solid #cccccc;
	margin:40px auto;
}
    #contaner div {
	width:200px;
	height:200px;
	background:rgb(81, 52, 97);
	text-align:center;
	color:rgba(255, 255, 255, 0.774);
	font-size:16px;
	font-weight:bold;
	line-height:200px;
	float:left;
	border:1px solid #cccccc;
}
#contaner #five {
	transition:all 0.5s ease-in-out 0s;
    color: rgb(247, 242, 247);
}
#contaner #five:hover {
	cursor:pointer;
	font-size:25px;
	transform:scale(1.2) rotate(360deg);
	background:rgba(207, 159, 219, 0.918);
	color:rgb(57, 18, 70);
}
.ys {
	transform:scale(1.2);
	box-shadow:0 0 0 200px rgb(65, 65, 124) inset;
}

.luckybanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

h5{
    line-height: 32px;
    text-align: center;
    color: rgba(231, 229, 241, 0.863);
    margin: 5%;
    font-size: 20px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.menu :nth-child(7) {
            color: rgba(99, 90, 96, 0.664);
          }